@import "../../variables";

.Character-detail{
  display: flex;
  align-items: center;
  border-bottom: $border-table;
  div{
    &:first-child{
      padding-left: 5px;
      width: 33.333333%;
    }
    &:last-child{
      width: 66.666666%;
      border-left: $border-table;
      padding-left: 5px;
      span{
        &:first-child{
          width: 90%;
          display: inline-block;
        }
        &:last-child{
          img{
            padding: 5px;
            width: 10%;
            border-left: $border-table;
          }
        }
      }
    }
  }
}
.modal-dialog{
  transform: translate(0, 0)!important;
}
.modal-open{
  .modal{
    opacity: 1;
  }
}

.Character-img {
  cursor: pointer;
}

.Character-modal-img {
  height: 200px;
  width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.modal-body {
  display: flex;
  padding-bottom: 50px;
}
.modal-header{
  display: flex;
  button{
    position: absolute;
    right: 10px;
  }
}
.Loading{
  position: absolute;
  bottom: 0;
  left: 41%;
}
.img-circle {
  border-radius: 0;
}
